.font-theme{
    color: rgb(74, 146, 204);
}
.center{
    margin: 0 auto;
}
.mg-btm{
    margin-bottom: 50px;
}
.section1{
    display: flex;
    justify-content: space-around;
    margin-bottom:100px ;
}
.card{
    width: 200px;
    height: 200px;
}
.card > img{
    width: 100%;
    height: 100%;
    border: 1px solid skyblue;
    cursor: pointer;
}

.section3{
    width: 200px;
}
.section3 > img{
    width: 100%;
    height: 150px;
}
table{
    margin: 0 auto;
}